# Database
DATABASE_URL=postgresql://gcadmin:GC_Str0ng_Passw0rd_2026!@db:5432/kabariya

# Redis
REDIS_URL=redis://:GC_Redis_Pass_2026!@redis:6379

# JWT
JWT_SECRET=gc_jwt_prod_s3cr3t_k3y_2026_x7m9q
JWT_REFRESH_SECRET=gc_jwt_refresh_pr0d_k3y_2026_r4n8p
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# Server
PORT=3000
NODE_ENV=development

# Pakistan Defaults
DEFAULT_COUNTRY=PK
DEFAULT_CURRENCY=PKR
DEFAULT_LANGUAGE=ur
DEFAULT_TIMEZONE=Asia/Karachi
DEFAULT_PHONE_CODE=+92
